@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Avenir Next;
        src: url(../public/assets/fonts/AvenirNext/AvenirNext-Regular.woff) format("woff");
    }
}

@layer utilities {
    .navText {
        color: white;
        font-family: Avenir Next;
        font-weight: 700;
        font-size: .7rem;
        letter-spacing: 2px;
        text-transform: uppercase; 
    }
    .navText:hover {
        color: #174AE6;
    }
}