@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'AvenirNext-Regular';
        src:url(../public/assets/fonts/AvenirNext/Regular/AvenirNext-Regular.eot);
        src:url(../public/assets/fonts/AvenirNext/Regular/AvenirNext-Regular.eot) format("embedded-opentype"),
            url(../public/assets/fonts/AvenirNext/Regular/AvenirNext-Regular.svg) format("svg"),
            url(../public/assets/fonts/AvenirNext/Regular/AvenirNext-Regular.ttf) format("truetype"),
            url(../public/assets/fonts/AvenirNext/Regular/AvenirNext-Regular.woff) format("woff"),
            url(../public/assets/fonts/AvenirNext/Regular/AvenirNext-Regular.woff2) format("woff2")
    }
    @font-face {
        font-family: 'AvenirNext-DemiBold';
        src:url(../public/assets/fonts/AvenirNext/DemiBold/AvenirNext-DemiBold.eot);
        src:url(../public/assets/fonts/AvenirNext/DemiBold/AvenirNext-DemiBold.eot) format("embedded-opentype"),
            url(../public/assets/fonts/AvenirNext/DemiBold/AvenirNext-DemiBold.svg) format("svg"),
            url(../public/assets/fonts/AvenirNext/DemiBold/AvenirNext-DemiBold.ttf) format("truetype"),
            url(../public/assets/fonts/AvenirNext/DemiBold/AvenirNext-DemiBold.woff) format("woff"),
            url(../public/assets/fonts/AvenirNext/DemiBold/AvenirNext-DemiBold.woff2) format("woff2")
    }
    @font-face {
        font-family: 'SourceCodePro-Regular';
        src:url(../public/assets/fonts/SourceCodePro/Regular/SourceCodePro-Regular.eot);
        src:url(../public/assets/fonts/SourceCodePro/Regular/SourceCodePro-Regular.eot) format("embedded-opentype"),
            url(../public/assets/fonts/SourceCodePro/Regular/SourceCodePro-Regular.svg) format("svg"),
            url(../public/assets/fonts/SourceCodePro/Regular/SourceCodePro-Regular.ttf) format("truetype"),
            url(../public/assets/fonts/SourceCodePro/Regular/SourceCodePro-Regular.woff) format("woff"),
            url(../public/assets/fonts/SourceCodePro/Regular/SourceCodePro-Regular.woff2) format("woff2")
    }
    @font-face {
        font-family: 'SourceCodePro-Bold';
        src:url(../public/assets/fonts/SourceCodePro/Bold/SourceCodePro-Bold.eot);
        src:url(../public/assets/fonts/SourceCodePro/Bold/SourceCodePro-Bold.eot) format("embedded-opentype"),
            url(../public/assets/fonts/SourceCodePro/Bold/SourceCodePro-Bold.svg) format("svg"),
            url(../public/assets/fonts/SourceCodePro/Bold/SourceCodePro-Bold.ttf) format("truetype"),
            url(../public/assets/fonts/SourceCodePro/Bold/SourceCodePro-Bold.woff) format("woff"),
            url(../public/assets/fonts/SourceCodePro/Bold/SourceCodePro-Bold.woff2) format("woff2")
    }
}


.navText {
    color: white;
    font-family: AvenirNext-Regular;
    font-size: .7rem;
    letter-spacing: 2px;
    text-transform: uppercase; 
}
.navText:hover {
    color: #174AE6;
}

.heroText{
    color: white;
    font-family: AvenirNext-DemiBold;
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 8px;
}

.heroSub{
    color: white;
    font-family: SourceCodePro-Regular;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 55px;
}

.projectTitle{
    color: white;
    font-family: AvenirNext-DemiBold;
    font-size: 1.5rem;
    line-height: 1.2;
}

.projectDesc{
    color: #6D6D6D;
    font-family: SourceCodePro-Regular;
    font-size: 14px;
}

.email{
    font-family: SourceCodePro-Regular;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 55px;
}

.heroBtn{
    padding: 1.25rem 2.25rem;
    font-size: .65rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    color: #fff;
    background-color: #174ae7;
    border-color: #174ae7;
    font-family: Avenir Next;
    letter-spacing: 2px;
    margin: 5px;
}

.footerTxt{
    font-size: 10px;
    color: #5F656D;
}

.nav-scrolled{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    background-color: #fff;
    color: #000000;
}

.aboutTitle{
    color: white;
    font-family: Avenir Next;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 8px;
    font-weight: 500;
}

.aboutText{
    color:
}

.skillCard{
    margin:2px;
    font-family: SourceCodePro-Regular;
    font-size: 12.8px;
    text-align: center;
    background: #3C66EB;
    color: #fff;
    padding: 0px 10px 0px 10px;
    line-height: 30px;
}
